.leaflet-top {
    z-index: 500;
}

.track-container {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.track-heading {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 2rem;
}

.track-map-wrapper {
    padding: 20px;
    width: 800px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
}

.header-with-toggle {
    display: flex;
    justify-content: space-between; /* 제목과 버튼을 양 끝으로 배치 */
    align-items: center;
    margin-bottom: 1.5rem; /* 헤더와 콘텐츠 사이 간격 */
}

.title-with-toggle {
    display: flex;
    align-items: center;
    gap: 15px;
}

.track-toggle-button {
    background-color: #f0f0f0;  /* 부드러운 회색 배경색 */
    color: #555;  /* 어두운 회색 텍스트 */
    border: 1px solid #ccc;  /* 연한 회색 테두리 */
    padding: 8px 12px; /* 버튼 크기 */
    font-size: 0.9rem; /* 버튼 폰트 사이즈 */
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease; /* 호버 상태에 부드러운 전환 효과 */
}

.track-toggle-button:hover {
    background-color: #e0e0e0;  /* 호버 시 부드러운 회색으로 변화 */
    border-color: #bbb;  /* 호버 시 테두리 색상 변화 */
}

.track-map {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center; /* 중앙 정렬 */
}

.button-container {
    display: flex; /* 가로 정렬 */
    align-items: center;
    justify-content: center;
}

.leftArrowButton, .rightArrowButton {
    width: 34px;
    height: 34px;
    cursor: pointer;
    padding: 5px;
    background: #fff;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 65%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-list-button {
    background-color: #f0f0f0;  /* 부드러운 회색 배경색 */
    color: #555;  /* 어두운 회색 텍스트 */
    border: 1px solid #ccc;  /* 연한 회색 테두리 */
    padding: 8px 12px; /* 버튼 크기 */
    font-size: 0.9rem; /* 버튼 폰트 사이즈 */
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease; /* 호버 상태에 부드러운 전환 효과 */
}

.show-list-button:hover {
    background-color: #e0e0e0;  /* 호버 시 부드러운 회색으로 변화 */
    border-color: #bbb;  /* 호버 시 테두리 색상 변화 */
}

@media (max-width: 768px) {
    .track-container {
        padding: 5px;
    }

    .track-heading {
        font-size: 2rem;
    }

    .track-map-wrapper {
        width: 350px;
    }

    .track-location {
        font-size: 1.6rem; /* 폰화면에서는 글씨 크기 줄임 */
    }

    .track-toggle-button {
        font-size: 0.8rem; /* 버튼 폰트 크기 줄임 */
        padding: 7px 10px; /* 버튼 크기 줄임 */
    }

    .action-button {
        font-size: 0.9rem;
        padding: 8px 12px;
    }
}


